.ht-service-box {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.ht-service-image img {
    width: 100%;
}

.ht-service-box h3 {
    color: rgba(0, 0, 0, 0.85);
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.ht-service-content {
    padding: 25px 20px 0;
    transition: all 0.3s ease-in-out;
}

.ht-service-box p {
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.ht-service-box h3 a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}


/*Style 2*/

.ht_service_style2 .ht-service-image img {
    width: auto;
    display: inline-block;
}

.ht_service_style2 .ht-service-box {
    border: 1px solid rgb(239, 239, 239);
    padding: 40px 20px;
    transition: .3s;
}


/*style 3*/

.ht_service_style2.ht_hover_box .ht-service-box {
    border: 1px solid rgb(239, 239, 239);
    padding: 40px 20px;
    transition: .3s;
}

.ht_service_style2.ht_hover_box .ht-service-box {
    border: 1px solid rgb(243, 188, 22);
    padding: 30px 20px 20px;
    transition: .3s;
}

.ht_service_style2.ht_hover_box .ht-service-box:hover {
    border: 1px solid rgb(243, 188, 22);
    background: rgb(243, 188, 22);
    transition: .3s;
}

.ht-service-box i {
    font-size: 30px;
    color: rgb(243, 188, 22);
    transition: all 0.3s ease-in-out;
}

.ht_service_style2.ht_hover_box .ht-service-box:hover i,
.ht_service_style2.ht_hover_box .ht-service-box:hover h3,
.ht_service_style2.ht_hover_box .ht-service-box:hover p {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.ht-service-box.ht-service-st2 .ht-service-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.ht-service-box.ht-service-st2 .ht-service-content p {
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.ht-service-box.ht-service-st2:hover .ht-service-content p {
    transform: scale(1);
}

.ht-service-content>a {
    display: inline-block;
    font-size: 15px;
    FONT-WEIGHT: 600;
    margin-top: 15px;
}

.ht-service-box.ht-service-st2 .ht-service-content>a {
    opacity: 0;
    visibility: hidden;
}

.ht-service-box.ht-service-st2:hover .ht-service-content>a {
    opacity: 1;
    visibility: visible;
}


/*Service Details CSS*/

.ht-servie-details-image img {
    width: 100%;
}

.ht-servie-details-image {
    margin-bottom: 30px;
}

.ht-service-detals-content h3 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
    color: #333;
}

.ht-service-details-content p {
    font-size: 15px;
    line-height: 29px;
    margin-bottom: 15px;
    margin-top: 0;
    color: #555;
}

.service-active .slick-arrow {
    background: none;
    color: #000;
    bottom: 50%;
    transform: translateY(50%);
    right: -39px;
    font-size: 42px;
    position: absolute;
    cursor: pointer;
}

.service-active .slick-arrow.btn-prev {
    right: auto;
    left: -39px;
}

.service-active .slick-arrow:hover {
    color: #f3bc16;
}

.indicator-style-two .slick-arrow {
    opacity: 1;
    top: -79px;
    transform: translateY(0);
    right: 0px;
    left: auto;
    width: 35px;
    height: 35px;
    line-height: 32px;
    border: 1px solid #000;
    color: #000;
    font-size: 32px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.indicator-style-two .slick-arrow:hover {
    border-color: #f3bc16;
    color: #fff;
    background: #f3bc16;
}

.indicator-style-two .slick-arrow.btn-prev {
    right: 45px;
    left: auto;
}

.related-service-active .slick-list,
.service-active .slick-list {
    margin: 0 -10px;
}

.related-service-active .ht-service-box {
    margin-bottom: 0;
}

.related-service-active .ht-service-box,
.service-active .ht-service-box {
    margin-left: 10px;
    margin-right: 10px;
}

.htrelated-title h3 {
    font-size: 28px;
    margin: 0 0 30px;
    padding: 0;
    font-weight: 500;
    color: #333;
}

.ht-service-st2 {
    overflow: hidden;
}

.ht-service-st2 .ht-service-image {
    position: relative;
}

.ht-service-st2 .ht-service-image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.ht-service-st2 .ht-service-content {
    z-index: 9;
    top: 50% !important;
    width: 100%;
    background-color: transparent !important;
    bottom: auto !important;
    margin-top: -25px;
    transition: all 0.3s ease 0s;
}

.ht-service-st2:hover .ht-service-content {
    transform: translateY(-50%);
    margin-top: 0;
}

.ht_service_style2.ht_hover_box .ht-service-box h3 a {
    transition: all 0s ease-in-out;
}

.related-area-ht-service {
    margin-top: 50px;
}

.htservice-pagination .nav-links>ul {
    padding-left: 0;
    padding-right: 0;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: 0;
}

.htservice-pagination .nav-links>ul>li,
.pagination>a,
.page-links>span:not(.page-links-title),
.page-links>a {
    display: inline-block;
    padding: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.htservice-pagination .nav-links>ul>li>a,
.htservice-pagination .nav-links>ul>li>span,
.pagination>a,
.page-links>span:not(.page-links-title),
.page-links>a {
    display: block;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0 7px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pagination>a,
.page-links>span:not(.page-links-title),
.page-links>a {
    display: inline-block;
}

.htservice-pagination .nav-links>ul>li>span.current,
.htservice-pagination .nav-links>ul>li:hover a,
.pagination>a:hover,
.page-links>span:not(.page-links-title),
.page-links>a:hover {
    color: #f3bc16;
    border-color: #f3bc16;
}

.htservice-pagination .next.page-numbers,
.htservice-pagination .prev.page-numbers {
    float: none;
}


/*Responsice CSS*/


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    /* .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 970px!important;
    } */
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    /* .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 750px!important;
    } */
}


/* Tablet desktop :768px. */

@media (max-width: 991px) {
    .htrelated-title h3 {
        font-size: 23px;
        margin: 0 0 30px;
    }
    .related-service-active.indicator-style-two .slick-arrow {
        top: -63px;
    }
    .ht-service-box h3 {
        font-size: 18px;
    }
    .ht_service_style2 .ht-service-box {
        padding: 25px 10px;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 95%
    }
    /* .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 90%!important;
    } */
    .htrelated-title h3 {
        font-size: 22px;
    }
    .related-service-active.indicator-style-two .slick-arrow {
        top: -31px;
        width: 30px;
        height: 30px;
        font-size: 25px;
        line-height: 30px;
    }
    .related-service-active.indicator-style-two .slick-arrow.btn-prev {
        right: 35px;
    }
    .service-active.indicator-style-two .slick-arrow {
        right: 0;
        height: 30px;
        width: 30px;
        font-size: 30px;
        line-height: 30px;
        top: -31px;
    }
    .service-active.indicator-style-two .slick-arrow.btn-prev {
        right: 36px;
        left: auto;
    }
    .service-active .slick-arrow {
        right: -20px;
        font-size: 34px;
    }
    .service-active .slick-arrow.btn-prev {
        left: -20px;
    }
    .ht-service-content {
        padding: 17px 15px 0;
    }
    .ht-service-detals-content h3 {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .ht_service_style2 .ht-service-box {
        padding: 30px 15px;
        transition: .3s;
    }
    .related-area-ht-service {
        margin-top: 30px;
    }
}